/* ---------- Animations ---------- */

body{
    opacity:0;
    transition:opacity 1s ease;
}

.hero,
.welcome,
.connect,
.card,
footer{
    opacity:0;
    transform:translateY(40px);
    transition:1s ease;
}

.show{
    opacity:1 !important;
    transform:translateY(0) !important;
}
